body {
	font-family:arial;
}

h1,h2,h3,h4,p,ul {
	margin:0;
	padding:0;
}

header {
	text-align:center;
}

h3,h4 {
	text-align:left;
}

h3 {
	padding-bottom:2px;
	margin-bottom:5px;
	border-bottom:1px solid;
}

ul {
	list-style: none;	
}

a:hover {
	cursor:pointer;
	text-decoration:underline;
}

/* TODO: Clear Both is a temp hack - do not leave in */
footer {
	clear:both;
	width:100%;
	font-size:80%;
	border-top:1px solid;
}

/* TODO: Responsive Scaling for mobile */
#recipeSearchContainer section {
	float:left;
}

#recipeSearchFacets {
	min-width:20%;
}

#recipeSearchResults {
	margin-left:2%;
	min-width:78%;
}

a.facetLink {font-weight:bold;}
.selected.facetValue a {background:green;}
.selected .facetOptions { display:block; }
.facetOptions { 
	display:none;
	margin-left:10px;
	font-size:80%;
}
.selected.facetValue a {
	display:block;
	padding:5px;
	margin: 5px 0;
}

.facetLink:hover, .facetValue a {
	border-radius:10px;
}

#recipeSearchResults li {
	float:left;
	margin:5px 10px 5px 0px;
	padding:5px;
	border: 1px solid;
	border-radius:5px;
	width:250px;
	height:64px;
	cursor:pointer;
}

section#recipeSearchContainer section#recipeSearchResults li section.thumbnailRating {
	border:none;
	width:auto;
	font-size:0.8em;
}

/* Generic Classes */
.fLeft {float:left;}
.fRight {float:right;}