body {
	font-family:arial;
}

h1,h2,h3,h4,p,ul {
	margin:0;
	padding:0;
}

header {
	text-align:center;
}

h4 {
	text-align:left;
}

ul {
	list-style: none;	
}

a:hover {
	cursor:pointer;
	text-decoration:underline;
}

footer {
	width:100%;
}

/* TODO: Responsive Scaling for mobile */
section#recipeSearchContainer section {
	float:left;
}

section#recipeSearchFacets {
	min-width:20%;
}

section#recipeSearchResults {
	min-width:80%;
}

a.facetLink {font-weight:bold;}
.selected a.facetLink, .selected.facetValue a {background:green;}
.selected .facetOptions { display:block; }
.facetOptions { 
	display:none;
	margin-left:10px; 
}

.facetLink:hover, .facetValue a {
	border-radius:5px;
}

section#recipeSearchContainer section#recipeSearchResults li {
	border: 1px solid;
	border-radius:5px;
	width:250px;
	height:64px;
	padding:5px;
}

section#recipeSearchContainer section#recipeSearchResults li section.thumbnailRating {
	border:none;
	width:auto;
	font-size:0.8em;
}

/* Generic Classes */
.fLeft {float:left;}
.fRight {float:right;}